In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.5 MB/s eta 0:00:0000:0100:03
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 3.6 MB/s eta 0:00:00a 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488498 sha256=b73608f40c1ea7f9b9361443bd26eac612e5dbcb2242ce4df74699077bebba52
  Stored in directory: /home/shan/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1

[notice] A new release of pip is available: 23.3.2 -> 24.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [2]:
!pip install findspark -q

[notice] A new release of pip is available: 23.3.2 -> 24.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [3]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

# FindSpark simplifies the process of using Apache Spark with Python

import findspark
findspark.init()

# import SparkSession
from pyspark.sql import SparkSession

In [4]:
#  Create a spark session
spark = SparkSession.builder.appName("Getting Started with Spark").getOrCreate()

24/06/25 04:02:17 WARN Utils: Your hostname, DESKTOP-3GFD90E resolves to a loopback address: 127.0.1.1; using 172.17.176.1 instead (on interface eth1)
24/06/25 04:02:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/25 04:02:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
import pandas as pd

In [15]:
df = pd.read_csv("winequality.csv", delim_whitespace=True)

In [16]:
df

,"fixed acidity,""volatile","acidity"",""citric","acid"",""residual","sugar"",""chlorides"",""free",sulfur,"dioxide"",""total",sulfur.1,"dioxide"",""density"",""pH"",""sulphates"",""alcohol"",""quality"""
0,"7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45,8.8,6",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49,9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44,1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4893,"6.2,0.21,0.29,1.6,0.039,24,92,0.99114,3.27,0.5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4894,"6.6,0.32,0.36,8,0.047,57,168,0.9949,3.15,0.46,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4895,"6.5,0.24,0.19,1.2,0.041,30,111,0.99254,2.99,0....",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4896,"5.5,0.29,0.3,1.1,0.022,20,110,0.98869,3.34,0.3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4897,"6,0.21,0.38,0.8,0.02,22,98,0.98941,3.26,0.32,1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# show top 5 rows from the dataset
df.head(5)

,"fixed acidity,""volatile","acidity"",""citric","acid"",""residual","sugar"",""chlorides"",""free",sulfur,"dioxide"",""total",sulfur.1,"dioxide"",""density"",""pH"",""sulphates"",""alcohol"",""quality"""
0,"7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45,8.8,6",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49,9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44,1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Stop the spark session
spark.stop()